{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<div id="header" style="position: fixed;background-color: #fff;width:80.8vw;text-align:center;">

    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm headerbuttons" id="inbox">Inbox</button>
    <button class="btn btn-sm headerbuttons" id="compose">Compose</button>
    <button class="btn btn-sm headerbuttons" id="sent">Sent</button>
    <button class="btn btn-sm headerbuttons" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>
    </div>
    <div id="emails-view" style="padding-top: 100px;">
        <div id="secname">

        </div>

        <div id="inboxc" style="padding-top: 50px;padding-left: 5px;">

        </div>

    </div>

    <div id="viewmail" style="padding-top: 120px;">

    </div>

    <div id="compose-view" style="padding-top: 130px;">
        <h3>New Email</h3>
        <form id="compose-form" >
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <button class="btn btn-primary" value="Submit">Submit</button>
        </form>
    </div>


{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}
