{% extends "layout.html" %}

{% block title %}
    POS KING
{% endblock %}

{% block body %}
{{stores}}
{% if Stores%}
<div class="homemainbody">
<p><h1>Kings Point Of Sale System</h1></p>
<div class="">
<h4>Select Store</h4>
  {% for store in Stores %}
  <a href="{% url 'store_settings' store.name %}"><button type="button" name="button">{{store.name}}</button></a>
  {% endfor %}
</div>
</div>
{%else%}
<div class="homemainbody">
<p><h1>Kings Point Of Sale System</h1></p>
<br>
<p><h3>Create a store</h3></p>
<form action="{% url 'stores' 3 %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control" autofocus type="text" name="store_name" placeholder="Stores name">
    </div>
    <input class="btn btn-primary" type="submit" value="Create">
</form>
</div>
{% endif %}

{% endblock %}
